#pip==23.1
numpy
pandas
pandas-datareader
librosa==0.8.0
matplotlib
seaborn
plotly.express
Pillow
requests
scipy
scikit-learn
streamlit
streamlit-option-menu
tensorflow
seaborn==0.12.2
audio_recorder_streamlit
streamlit-audiorecorder
PyAudio
wave
#array 
#struct
pydub
noisereduce


